<%= javascript_include_tag 'rails_admin_charts/application' %>
<script src="http://highcharts.github.io/export-csv/export-csv.js"></script>

<%# if @abstract_model.model.chart_form? %>
  <!--<div class="col-md-7"></div>-->
  <%#= form_tag charts_path(:model_name => @abstract_model.model_name), class: "form-inline" do %>
    <%#= label_tag "From" %>
    <%#= date_field_tag "chart_form[from]", Date.today.beginning_of_year, class: "form-control" %>
    <%#= label_tag "To" %>
    <%#= date_field_tag "chart_form[to]", Date.today, class: "form-control" %>
    <%#= select_tag "chart_form[condition]", options_for_select(@abstract_model.model.class_for_condition.all.collect { |c| [c.name, c.id] }, selected: @abstract_model.model.class_for_condition.first.id), class: "form-control" %>
    <%#= submit_tag "Submit", class: "btn btn-primary" %>
  <%# end %>
<%# end %>
<!--<BR>-->
<%#= link_to "Download as Excel", charts_path(:format => "xsl"), html_input:{class: "btn btn-primary"} %>
<!--<BR>-->
<%= link_to "Download as CSV",   charts_path(:format => "csv"), html_input:{class: "btn btn-primary"} %>
<BR>
<% @abstract_model.model.graphs_data.each_with_index do |value, index| %>
  <div id="growth_rate_<%= index %>" style="min-width: 400px; height: 400px;">
    <%= raw render 'chart', index: index, format: :js %>
  </div>
<% end %>
